*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    /*  Background Colors */
    --bg-primary : #121527;

    /* colors */
    --text-color : rgb(237, 232, 214);
    --color-snake : #4caf50;
    --color-food : #f74033;

    /* sizes  */
    --text-sm:8px;
    --text-md: 14px;
    --text-lg: 24px;
    
    /* radius  */
    --radius-sm: 4px;
    --radius-md : 8px;
    --radius-lg : 16px;

    /* spaces  */
    --space-sm: 4px;
    --space-md : 8px;
    --space-lg : 14px;


}

html{
    background-color: var(--bg-primary);
    color: var(--text-color);
}

.info-tab{
    font-size: var(--text-md);
    display: flex;
    justify-content: space-between;
    padding: var(--space-md);
}

.info-tab h3{
    border: 1px solid var(--text-color);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-md);
}

main, section{
    height: 100%;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
}

section .board{
    border: 1px solid var(--text-color);
    height: 100%;
    width: 100%;
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}

.block{
    width: 40px;
    height: 40px;
    border: 1px solid var(--text-color);
}

.snake-body{
    background-color: var(--color-snake);
}

.food{
    background-color: var(--color-food);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu .start-game, .menu .game-over{
    color: var(--text-color);
}

#start-btn, #restart-btn{
    margin-top: var(--space-md);
    padding: var(--space-sm) var(--space-lg);
    font-size: var(--text-md);
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--color-snake);
    color: var(--text-color);
    cursor: pointer;
    
}

#start-btn:hover, #restart-btn:hover{
    background-color: var(--color-food);
}


